@import "tailwindcss";

@font-face {
  font-family: NeueBold;
  font-style: normal;
  font-display: swap;
  font-weight: 400 500 600 700;
  src: url("/fonts/neue-plak-bold.woff") format("woff");
}

@font-face {
  font-family: NeueRegular;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/neue-plak-regular.woff") format("woff");
}

@font-face {
  font-family: NeueThin;
  font-display: swap;
  font-style: normal;
  font-weight: 100 200 300;
  src: url("/fonts/neue-plak-thin.woff") format("woff");
}

@theme inline {
  /* Fonts */
  --font-NeueBold: "NeueBold", sans-serif;
  --font-NeueRegular: "NeueRegular", sans-serif;
  --font-NeueThin: "NeueThin", sans-serif;

  /* Colors */
  --color-primary: #101a53;
  --color-backlight: #4c67ff;
  --color-slate: #f7f7f7;

  /* Breakpoints */
  --breakpoint-xs: 425px;
  --breakpoint-xxs: 368px;

  /* Animations */
  --animate-spin-reverse: spin 2s linear infinite reverse;
}

@utility gradient-text {
  @apply text-transparent bg-clip-text bg-linear-to-r from-[#999999] via-white to-[#999999] font-bold tracking-wide leading-tight sm:leading-none;
}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
}

html,
body {
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueRegular", sans-serif;
  width: 100vw;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: clip;
  background-color: #f7f7f7;
}
